@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap');

/* TODO HTML TERA ESSA FONT */
body {
    font-family: 'Grandstander';
    display: flex;
    justify-content: center;
    align-items: center;
}

.jogo-forca{
    width: 99vw;
    height: 99vh;
}

/* DEFININDO ESTILOS DO TITULO */
.titulo-jogo{
    text-align: center;
    /* TAMANHO IDEAL PARA CELULATES */
    font-size: 10vw;
}

/* PARA TELAS DE COMPUTADORES SERÁ ALTERADO DE VW PARA VH */
@media (min-width: 768px){
    .titulo-jogo{
        font-size: 4vw;
    }
}

/* DEFININDO O ESTILO DA IMAGEM DA FORCA */
.container-forca{
    position: absolute;
    left: 25%;
    
}

.forca{
    margin-top: 5vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.word{
    position: absolute;
    left: 50%;
    font-size: 75px;
    font-weight: 100;
}


/* FORMATOS PARA COMPUTADOR */
@media (orientation: landscape){
    
    /* TELAS DE COMPUTADOR DE LARGURA ATÉ 1024px */
    @media (min-width: 1024px) and (max-width: 1367px) {
        .forca {
            background-image: url('../img/fork/forca-245.png');
            width: 245px;
            height: 245px;
        }

        .word{
            width: 41vw;
            font-size: 6vw;
            top: 30vh;
        }
    }

    /* TELAS DE COMPUTADOR DE LARGURA ATÉ 1684px */
    @media (min-width: 1368px) and (max-width: 1685px) {
        .forca {
            background-image: url('../img/fork/forca-245.png');
            width: 245px;
            height: 245px;
        }

        .word{
            width: 31vw;
            font-size: 5vw;
            top: 26vh;
        }
    }


    /* TELAS DE COMPUTADORES DE LARGURA ATÉ 2560px */
    @media (min-width: 1685px) and (max-width: 2560px) {
        .forca {
            background-image: url('../img/fork/forca-490.png');
            width: 490px;
            height: 490px;
        }

        .word{
            width: 43vw;
            font-size: 6vw;
            top: 33vh;
        }
    }

}

/* FORMATADOS PARA CELULARES */
@media (orientation: portrait) {
    
    /* PARA TELAS DE CELULARES DE ALTURA ATÉ 667px*/
    @media (max-height: 737px) {
        .forca{
            background-image: url('../img/fork/forca-180.png');
            width: 180px;
            height: 180px;
        }

        .word{
            left: 11%;
            width: 50vh;
            font-size: 6vh;
            top: 50vh;
        }
    }

    /* PARA TELAS DE CELULARES DE ALTURA ATÉ 812px */
    @media (min-height: 738px) and (max-height: 813px){
        .forca{
            background-image: url('../img/fork/forca-180.png');
            width: 180px;
            height: 180px;
        }

        .word{
            left: 10%;
            width: 38vh;
            font-size: 6vh;
            top: 44vh;
        }
    }

    /* PARA TELAS DE CELULARES DE ALTURA ATÉ 896px */
    @media (min-height: 814px) and (max-height: 897px) {
        .forca{
            background-image: url('../img/fork/forca-245.png');
            width: 245px;
            height: 245px;
        }

        .word{
            left: 10%;
            width: 38vh;
            font-size: 6vh;
            top: 50vh;
        }
    }

    /* PARA TELAS DE CELULARES DE ALTURA ATÉ 1920px */
    @media (max-height: 1920px) {
        .forca{
            background-image: url(../img/fork/forca-700.png);
            width: 700px;
            height: 700px;
        }

        .word{
            left: 12%;
            width: 45vh;
            font-size: 7vh;
            top: 52vh;
        }
    }
}
