@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap');

/* TODO HTML TERA ESSA FONT */
body {
    font-family: 'Grandstander';
    display: flex;
    justify-content: center;
    align-items: center;
}

.jogo-forca{
    width: 99vw;
    height: 99vh;
}

/* DEFININDO ESTILOS DO TITULO */
.titulo-jogo{
    text-align: center;
    /* TAMANHO IDEAL PARA CELULATES */
    font-size: 10vw;
}

/* PARA TELAS DE COMPUTADORES SERÁ ALTERADO DE VW PARA VH */
@media (min-width: 768px){
    .titulo-jogo{
        font-size: 4vw;
    }
}

/* DEFININDO O ESTILO DA IMAGEM DA FORCA */
.container-forca{
    position: absolute;
    left: 25%;
    
}

.forca{
    margin-top: 5vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.word{
    position: absolute;
    left: 50%;
    font-size: 75px;
    font-weight: 100;
}


/* FORMATOS PARA COMPUTADOR */
@media (orientation: landscape){
    
    /* TELAS DE COMPUTADOR DE LARGURA ATÉ 1024px */
    @media (min-width: 1024px) and (max-width: 1367px) {
        .forca {
            background-image: url('../img/fork/forca-245.png');
            width: 245px;
            height: 245px;
        }

        .word{
            width: 41vw;
            font-size: 6vw;
            top: 30vh;
        }
    }


    /* TELAS DE COMPUTADORES DE LARGURA ATÉ 1920 */
    @media (min-width: 1368px) and (max-width: 1920px) {
        .forca {
            background-image: url('../img/fork/forca-700.png');
            width: 700px;
            height: 700px;
        }
    }

}

/* FORMATADOS PARA CELULARES */

