@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap');

/* TODO HTML TERA ESSA FONT */
body {
    font-family: 'Grandstander';
    display: flex;
    justify-content: center;
    align-items: center;
}

.jogo-forca{
    width: 99vw;
    height: 99vh;
}

/* DEFININDO ESTILOS DO TITULO */
.titulo-jogo{
    text-align: center;
    /* TAMANHO IDEAL PARA CELULATES */
    font-size: 10vw;
}

/* PARA TELAS DE COMPUTADORES SERÁ ALTERADO DE VW PARA VH */
@media (min-width: 768px){
    .titulo-jogo{
        font-size: 4vw;
    }
}

/* DEFININDO O ESTILO DA IMAGEM DA FORCA */
.container-forca{
    position: absolute;
    left: 25%;
    
}

.forca{
    position: absolute;
    margin-top: 5vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.word{
    position: absolute;
    left: 50%;
    font-size: 75px;
    font-weight: 300;
}

.container-letras{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

button{
    padding: 1%;
    border-radius: 10px;
    font-size: 35px;
    font-family: 'Grandstander';
}


/* FORMATOS PARA COMPUTADOR */
@media (orientation: landscape){
    
    /* TELAS DE COMPUTADOR DE LARGURA ATÉ 1024px */
    @media (min-width: 1024px) and (max-width: 1367px) {
        .forca {
            background-image: url('../img/fork/forca-245.png');
            width: 245px;
            height: 245px;
            left: -10vw;
        }

        .word{
            width: 51vw;
            font-size: 38px;
            top: 45vh;
            left: 45vw;
        }

        .container-letras{
            margin-top: 50vh;
        }
    }

    /* TELAS DE COMPUTADOR DE LARGURA ATÉ 1684px */
    @media (min-width: 1368px) and (max-width: 1685px) {
        .forca {
            background-image: url('../img/fork/forca-245.png');
            width: 245px;
            height: 245px;
            left: -5vw;
        }

        .word{
            width: 50vw;
            font-size: 51px;
            top: 49vh;
            left: 45vw;
        }

        .container-letras{
            margin-top: 50vh;
        }
    }


    /* TELAS DE COMPUTADORES DE LARGURA ATÉ 2560px */
    @media (min-width: 1685px) and (max-width: 2560px) {
        .forca {
            background-image: url('../img/fork/forca-490.png');
            width: 490px;
            height: 490px;
            left: -5vw;
            top: -4vh;
        }

        .word{
            width: 50vw;
            font-size: 95px;
            top: 59vh;
            left: 48vw;
        }

        .container-letras{
            margin-top: 61vh;
        }
    }

}

/* FORMATADOS PARA CELULARES */
@media (orientation: portrait) {

    /* PARA TELAS DE CELULARES DE ALTURA ATÉ 667px */
    @media (max-height: 668px){
        .forca{
            background-image: url(../img/fork/forca-180.png);
            width: 180px;
            height: 180px;
        }

        .word{
            left: 5%;
            width: 51vh;
            font-size: 24px;
            top: 51vh;
        }

        .container-letras{
            margin-top: 45vh;
            gap: 10px;
            width: 86vw;
        }

        .btn-letter{
            font-size: 30px;
        }

    }
    
    /* PARA TELAS DE CELULARES DE ALTURA ATÉ 736px*/
    @media (min-height: 669px) and (max-height: 737px) {
        .forca{
            background-image: url('../img/fork/forca-180.png');
            width: 180px;
            height: 180px;
        }

        .word{
            left: 5%;
            width: 51vh;
            font-size: 27px;
            top: 51vh;
        }

        .container-letras{
            margin-top: 47vh;
        }
    }

    /* PARA TELAS DE CELULARES DE ALTURA ATÉ 812px */
    @media (min-height: 738px) and (max-height: 813px){
        .forca{
            background-image: url('../img/fork/forca-180.png');
            width: 180px;
            height: 180px;
        }

        .word{
            left: 10%;
            width: 38vh;
            font-size: 24px;
            top: 50vh;
        }

        .container-letras{
            margin-top: 47vh;
        }
    }

    /* PARA TELAS DE CELULARES DE ALTURA ATÉ 896px */
    @media (min-height: 814px) and (max-height: 897px) {
        .forca{
            background-image: url('../img/fork/forca-245.png');
            width: 245px;
            height: 245px;
        }

        .word{
            left: 10%;
            width: 38vh;
            font-size: 26px;
            top: 55vh;
        }

        .container-letras{
            margin-top: 53vh;
        }
    }

    /* PARA TELAS DE CELULARES DE ALTURA ATÉ 1920px */
    @media (min-height: 898px) and (max-height: 1921px) {
        .forca{
            background-image: url(../img/fork/forca-700.png);
            width: 700px;
            height: 700px;
        }

        .word{
            left: 5%;
            width: 55vh;
            font-size: 77px;
            top: 57vh;
        }

        .container-letras{
            margin-top: 55vh;
        }
    }

    /* PARA TELAS DE CELULARES DE ALTURA ATÉ 2340px */
    @media (min-height: 1922px) and (max-height: 2341px) {
        .forca{
            background-image: url(../img/fork/forca-700.png);
            width: 700px;
            height: 700px;
        }

        .word{
            left: 4%;
            width: 55vh;
            font-size: 77px;
            top: 57vh;
        }
    }
}
