{% extends 'index.html' %}

{% block conteudo %}
<body>
    <div class="jogo-forca">
        
        <!-- TITULO DA PAGINA -->
        <div>
            <h1 class="titulo-jogo">Jogo da Forca</h1>
        </div>

        <!-- IMAGEM DA FORCA E DO BONECO -->
         <div class="container-forca">
             <div class="forca"></div>
        </div>

        <!-- PALAVRA A SER DESCOBERTA -->
         <!-- MAXIMO DE LETRAS É 18 -->
        <div class="word">_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _</div>

        <!-- BOTÕES DAS LETRAS -->
         <div>

         </div>

    </div>
</body>
{% endblock conteudo %}